$main-color: #61dafb;
$main-black: #000000;
$main-white: #ffffff;
$light-white: #f5efed;
$green01: #008388;
$messageGreen: #e1ffc7;
$facebookBlue: #3B5998;
$red: #ff0000;
$lightGray: #D3D3D3;
$middleGray: #979797;
$pink: #fc4c54;
$darkGray: #484848;
$brown: #ad8763;
$darkOrange: #d93900;
$txtDark: #484848;
$color-red: #FF0000;
$color-green: #00FF00;
$color-blue: #0000FF;
$color-deep-blue: #1367e4;
$light-orange: #ffb200;