nav, section {
  display: block; }

.Header {
  width: 100%;
  background-color: #ffffff;
  border-top: 4px solid #f5efed; }
  .Header .Header-row {
    max-width: 64rem;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    height: 96px; }
  .Header .Header-menu {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 28px;
    width: 16px;
    height: 12px;
    cursor: pointer;
    background-color: #fff; }
  .Header .Header-leftSide .Header-navLink:not(:last-child) {
    width: 33.33%;
    text-align: left; }
  .Header .Header-rightSide .Header-navLink:not(:last-child) {
    width: 33.33%;
    text-align: left; }
  .Header .Header-logo {
    position: absolute;
    top: 60%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .Header svg {
    width: 195 !important;
    height: 90 !important; }

@media print, screen and (min-width: 64em) {
  .Header-row {
    height: auto; }
  .Header-menu {
    display: none; }
  .Header-navLink {
    display: inline-block;
    font-family: Open Sans,Arial,sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-size: 10px;
    margin-top: 78px;
    margin-bottom: 48px;
    color: #484848; }
  .Header-leftSide {
    width: 20%;
    float: left;
    text-align: left; }
  .Header-rightSide {
    width: 41.66667%;
    float: right;
    text-align: right; } }

@media print, screen and (min-width: 40em) {
  .Header-leftSide {
    padding-right: .75rem;
    padding-left: .75rem; }
  .Header-rightSide {
    padding-right: .75rem;
    padding-left: .75rem; } }

#rentalListing .title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px; }

#rentalListing .bwm-card {
  border: none; }
  #rentalListing .bwm-card .card-block {
    padding-top: 8px; }
    #rentalListing .bwm-card .card-block .card-subtitle {
      margin: 0;
      font-weight: 500;
      font-size: 12px;
      text-transform: uppercase;
      color: #16861a; }
    #rentalListing .bwm-card .card-block .card-title {
      font-size: 19px;
      margin: 3px 0; }
    #rentalListing .bwm-card .card-block .card-text {
      font-size: 14px;
      font-weight: 300;
      color: #7e7e7e;
      margin-bottom: 0; }

*, :after, :before {
  box-sizing: inherit; }

div {
  display: block; }

img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic; }

a {
  line-height: inherit;
  color: #d93900;
  text-decoration: none;
  cursor: pointer; }

.page-title {
  font-size: 30px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 20px; }
