@import url("https://fonts.googleapis.com/css?family=Indie+Flower");
#rentalListing .title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px; }

#rentalListing .bwm-card {
  border: none; }
  #rentalListing .bwm-card .card-block {
    padding-top: 8px; }
    #rentalListing .bwm-card .card-block .card-subtitle {
      margin: 0;
      font-weight: 500;
      font-size: 12px;
      text-transform: uppercase;
      color: #16861a; }
    #rentalListing .bwm-card .card-block .card-title {
      font-size: 19px;
      margin: 3px 0; }
    #rentalListing .bwm-card .card-block .card-text {
      font-size: 14px;
      font-weight: 300;
      color: #7e7e7e;
      margin-bottom: 0; }

body {
  background-color: #1d1f20; }

html,
body {
  font-family: sans-serif;
  height: calc(100% + 150px);
  margin: 0;
  padding: 0; }

/*
 * Header
 */
.header {
  border: 0;
  border-bottom: solid #1367e4;
  display: inline-block;
  text-align: center;
  width: 100%; }
  .header .name {
    font-size: 30px;
    font-weight: bold;
    margin-top: 35px; }
  .header .description {
    font-size: 20px;
    margin-top: 3px; }
  .header .links {
    margin-top: 25px; }
    .header .links a {
      color: #1367e4;
      font-size: 20px;
      font-weight: lighter;
      margin: 0 10px; }

.thumb1 {
  background: white 50% 50% no-repeat;
  width: 350px;
  height: 240px;
  transition: transform .4s; }

.thumb1:hover {
  -ms-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  z-index: 100;
  border-radius: 4%; }

.cont {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%); }

.is-animate {
  background: #ffb200;
  box-sizing: border-box;
  font-size: 66px;
  display: -webkit-inline-box;
  padding: 14px;
  border-radius: 7px; }

.is-animate > div {
  animation-name: style;
  display: -webkit-inline-box;
  color: #ffffff;
  padding: 9px;
  background: #ffb200;
  font-family: 'Indie Flower', cursive;
  box-shadow: 2px 2px 9px 2px; }

.l {
  animation: letterspacing 1s infinite alternate cubic-bezier(0.2, 0, 0, 1); }

.is-animate > div {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: infinite; }

.is-animate > div:nth-child(1) {
  animation-delay: 0.0s; }

.is-animate > div:nth-child(2) {
  animation-delay: 0.1s; }

.is-animate > div:nth-child(3) {
  animation-delay: 0.2s; }

.is-animate > div:nth-child(4) {
  animation-delay: 0.3s; }

.is-animate > div:nth-child(5) {
  animation-delay: 0.4s; }

.is-animate > div:nth-child(6) {
  animation-delay: 0.5s; }

.is-animate > div:nth-child(7) {
  animation-delay: 0.6s; }

@keyframes style {
  from {
    transform: scale3d(1, 1, 1); }
  30% {
    box-shadow: 0px 0px 0px 0px;
    transform: scale3d(1.25, 0.75, 1); }
  40% {
    transform: scale3d(0.75, 1.25, 1); }
  50% {
    transform: scale3d(1.15, 0.85, 1); }
  65% {
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    transform: scale3d(1.05, 0.95, 1); }
  to {
    transform: scale3d(1, 1, 1); } }

@keyframes letterspacing {
  0% {
    filter: blur(0.1rem); }
  100% {
    filter: blur(0.5rem); }
  to {
    letter-spacing: none;
    filter: blur(0rem); } }
